# Combining DataFrames With Pandas - Lab

## Introduction

In this lab, you'll gain practice combining DataFrames through concatenation.  You'll also practice executing various types of joins to selectively combine the information stored in the tables.

## Objectives

In this lab you will:

- Use concatenation to combine DataFrames  
- Determine which type of join is preferred for two tables of data and a task  
- Use different types of joins to merge dataframes


## Concatenating DataFrames

Run the cell below to create some sample DataFrames for us to work with.

In [1]:
import pandas as pd
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                    index=[0, 1, 2, 3])


df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                    index=[4, 5, 6, 7])

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'], 
                    'D': ['D8', 'D9', 'D10', 'D11']},
                    index=[8, 9, 10, 11])

Now that you have multiple DataFrames to work with, you can execute a concatenation to join them together.  

In the cell below, concatenate the 3 DataFrames together using the appropriate function.

In [2]:
combined_df = pd.concat([df1, df2, df3])
combined_df

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

**_EXPECTED OUTPUT:_**

<img src="images/er1.png">

## Setting join conditions with concatenation

You can also specify if the concatenation is an **_Outer Join_** or an **_Inner Join_**.  Next, you'll execute an inner join. Before you do, you need to create another table that contains some overlapping index values with a DataFrame that already exists. 

Run the cell below to create the new DataFrame.

In [3]:
df4 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
                    'D': ['D2', 'D3', 'D6', 'D7'],
                    'F': ['F2', 'F3', 'F6', 'F7']},
                    index=[2, 3, 6, 7])

In [4]:
df4.head()

    B   D   F
2  B2  D2  F2
3  B3  D3  F3
6  B6  D6  F6
7  B7  D7  F7

Now, in the cell below, use the `pd.concat()` function to join DataFrames 1 and 4.  However, this time, specify that the `join` is `'inner'`, and `axis=1`.

In [5]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [6]:
?pd.concat

Signature:
pd.concat(
    objs: 'Iterable[Series | DataFrame] | Mapping[HashableT, Series | DataFrame]',
    *,
    axis: 'Axis' = 0,
    join: 'str' = 'outer',
    ignore_index: 'bool' = False,
    keys: 'Iterable[Hashable] | None' = None,
    levels=None,
    names: 'list[HashableT] | None' = None,
    verify_integrity: 'bool' = False,
    sort: 'bool' = False,
    copy: 'bool | None' = None,
) -> 'DataFrame | Series'
Docstring:
Concatenate pandas objects along a particular axis.

Allows optional set logic along the other axes.

Can also add a layer of hierarchical indexing on the concatenation axis,
which may be useful if the labels are the same (or overlapping) on
the passed axis number.

Parameters
----------
objs : a sequence or mapping of Series or DataFrame objects
    If a mapping is passed, the sorted keys will be used as the `keys`
    argument, unless it is passed, in which case the values will be
    selected (see below). Any None objects will be dropped silently unless
    they are all None in which case a ValueError will be raised.
axis : {0/'index', 1/'columns'}, default 0
    The axis to concatenate along.
join : {'inner', 'outer'}, default 'outer'
    How to handle indexes on other axis (or axes).
ignore_index : bool, default False
    If True, do not use the index values along the concatenation axis. The
    resulting axis will be labeled 0, ..., n - 1. This is useful if you are
    concatenating objects where the concatenation axis does not have
    meaningful indexing information. Note the index values on the other
    axes are still respected in the join.
keys : sequence, default None
    If multiple levels passed, should contain tuples. Construct
    hierarchical index using the passed keys as the outermost level.
levels : list of sequences, default None
    Specific levels (unique values) to use for constructing a
    MultiIndex. Otherwise they will be inferred from the keys.
names : list, default None
    Names for the levels in the resulting hierarchical index.
verify_integrity : bool, default False
    Check whether the new concatenated axis contains duplicates. This can
    be very expensive relative to the actual data concatenation.
sort : bool, default False
    Sort non-concatenation axis if it is not already aligned. One exception to
    this is when the non-concatentation axis is a DatetimeIndex and join='outer'
    and the axis is not already aligned. In that case, the non-concatenation
    axis is always sorted lexicographically.
copy : bool, default True
    If False, do not copy data unnecessarily.

Returns
-------
object, type of objs
    When concatenating all ``Series`` along the index (axis=0), a
    ``Series`` is returned. When ``objs`` contains at least one
    ``DataFrame``, a ``DataFrame`` is returned. When concatenating along
    the columns (axis=1), a ``DataFrame`` is returned.

See Also
--------
DataFrame.join : Join DataFrames using indexes.
DataFrame.merge : Merge DataFrames by indexes or columns.

Notes
-----
The keys, levels, and names arguments are all optional.

A walkthrough of how this method fits in with other tools for combining
pandas objects can be found `here
<https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html>`__.

It is not recommended to build DataFrames by adding single rows in a
for loop. Build a list of rows and make a DataFrame in a single concat.

Examples
--------
Combine two ``Series``.

>>> s1 = pd.Series(['a', 'b'])
>>> s2 = pd.Series(['c', 'd'])
>>> pd.concat([s1, s2])
0    a
1    b
0    c
1    d
dtype: object

Clear the existing index and reset it in the result
by setting the ``ignore_index`` option to ``True``.

>>> pd.concat([s1, s2], ignore_index=True)
0    a
1    b
2    c
3    d
dtype: object

Add a hierarchical index at the outermost level of
the data with the ``keys`` option.

>>> pd.concat([s1, s2], keys=['s1', 's2'])
s1  0    a
    1    b
s2  0    c
    1    d
dtype: object

Label the index keys you create with the ``names`` option.

>>> pd.concat([s1, s2], keys=['s1', 's2'],
...           names=['Series name', 'Row ID'])
Series name  Row ID
s1           0         a
             1         b
s2           0         c
             1         d
dtype: object

Combine two ``DataFrame`` objects with identical columns.

>>> df1 = pd.DataFrame([['a', 1], ['b', 2]],
...                    columns=['letter', 'number'])
>>> df1
  letter  number
0      a       1
1      b       2
>>> df2 = pd.DataFrame([['c', 3], ['d', 4]],
...                    columns=['letter', 'number'])
>>> df2
  letter  number
0      c       3
1      d       4
>>> pd.concat([df1, df2])
  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

Combine ``DataFrame`` objects with overlapping columns
and return everything. Columns outside the intersection will
be filled with ``NaN`` values.

>>> df3 = pd.DataFrame([['c', 3, 'cat'], ['d', 4, 'dog']],
...                    columns=['letter', 'number', 'animal'])
>>> df3
  letter  number animal
0      c       3    cat
1      d       4    dog
>>> pd.concat([df1, df3], sort=False)
  letter  number animal
0      a       1    NaN
1      b       2    NaN
0      c       3    cat
1      d       4    dog

Combine ``DataFrame`` objects with overlapping columns
and return only those that are shared by passing ``inner`` to
the ``join`` keyword argument.

>>> pd.concat([df1, df3], join="inner")
  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

Combine ``DataFrame`` objects horizontally along the x axis by
passing in ``axis=1``.

>>> df4 = pd.DataFrame([['bird', 'polly'], ['monkey', 'george']],
...                    columns=['animal', 'name'])
>>> pd.concat([df1, df4], axis=1)
  letter  number  animal    name
0      a       1    bird   polly
1      b       2  monkey  george

Prevent the result from including duplicate index values with the
``verify_integrity`` option.

>>> df5 = pd.DataFrame([1], index=['a'])
>>> df5
   0
a  1
>>> df6 = pd.DataFrame([2], index=['a'])
>>> df6
   0
a  2
>>> pd.concat([df5, df6], verify_integrity=True)
Traceback (most recent call last):
    ...
ValueError: Indexes have overlapping values: ['a']

Append a single row to the end of a ``DataFrame`` object.

>>> df7 = pd.DataFrame({'a': 1, 'b': 2}, index=[0])
>>> df7
    a   b
0   1   2
>>> new_row = pd.Series({'a': 3, 'b': 4})
>>> new_row
a    3
b    4
dtype: int64
>>> pd.concat([df7, new_row.to_frame().T], ignore_index=True)
    a   b
0   1   2
1   3   4
File:      /opt/anaconda3/envs/learn-env/lib/python3.9/site-packages/pandas/core/reshape/concat.py
Type:      function

In [7]:
# Using inner join to keep only matching values
df1_and_4 = pd.concat([df1,df4], axis=1, join='inner')
df1_and_4

    A   B   C   D   B   D   F
2  A2  B2  C2  D2  B2  D2  F2
3  A3  B3  C3  D3  B3  D3  F3

In [8]:
# Using outer join to keep all values
df1_and_4 = pd.concat([df1,df4], axis=1, join='outer')
df1_and_4

     A    B    C    D    B    D    F
0   A0   B0   C0   D0  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN
2   A2   B2   C2   D2   B2   D2   F2
3   A3   B3   C3   D3   B3   D3   F3
6  NaN  NaN  NaN  NaN   B6   D6   F6
7  NaN  NaN  NaN  NaN   B7   D7   F7

**_EXPECTED OUTPUT:_**

<img src='images/er2.png'>

You'll notice that in this case, the results contain only the rows with indexes that exist in both tables -- rows 2 and 3.  The resulting table contains the values for each column in both tables for the rows.  

Note that there are many, many ways that you can make full use of the `pd.concat()` function in pandas to join DataFrames together -- these are just a few of the most common examples pulled from the pandas documentation on the subject. For a full view of all the ways you can use `pd.concat()`, see the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/merging.html).

## Load data
Now, it's time to move on to working with the Hearthstone cards database.  This database contains information on cards from the popular game, [Hearthstone](https://playhearthstone.com/en-us/). For full information on the dataset, see the [Kaggle page](https://www.kaggle.com/jeradrose/hearthstone-cards) for this dataset. 

This database consists of the following tables:

* _cards_
* *dust_costs*
* _entourages_
* _mechanics_
* *play_requirements*

Many of rows in each table -- but not all -- correspond to the same cards. As such, each table contains a column called `card_id` which acts as a **_Primary Key_** for each table.  You'll make use of these keys to **_join_** the different tables together into a single DataFrame. You'll also experiment with different types of joins to help us decide exactly what information you wish to combine.  

Simply run the cell below to import the tables from the database as DataFrames.

In [9]:
cards_df = pd.read_csv('cards.csv',index_col="card_id")
dust_df = pd.read_csv('dust.csv',index_col="card_id")
entourages_df = pd.read_csv('entourages.csv',index_col="card_id")
mechanics_df = pd.read_csv('mechanics.csv',index_col="card_id")
play_requirements_df = pd.read_csv('play_requirements.csv',index_col="card_id")

In [10]:
cards_df.head()

,player_class,type,name,set,text,cost,attack,health,rarity,collectible,flavor,race,how_to_earn,how_to_earn_golden,targeting_arrow_text,faction,durability
card_id,,,,,,,,,,,,,,,,,
KARA_00_07,MAGE,SPELL,Astral Portal,KARA,Summon a random <b>Legendary</b> minion.,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NEW1_008a,DRUID,SPELL,Ancient Teachings,EXPERT1,Draw a card.,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BRM_010t2,DRUID,MINION,Druid of the Flame,BRM,NaN,3.0,2.0,5.0,COMMON,NaN,NaN,BEAST,NaN,NaN,NaN,NaN,NaN
AT_132,NEUTRAL,MINION,Justicar Trueheart,TGT,<b>Battlecry:</b> Replace your starting Hero P...,6.0,6.0,3.0,LEGENDARY,1.0,It's like putting racing stripes and a giant s...,NaN,NaN,NaN,NaN,NaN,NaN
OG_141,NEUTRAL,MINION,Faceless Behemoth,OG,NaN,10.0,10.0,10.0,COMMON,1.0,"Rejected names: Forty-Foot Faceless, Big ol' N...",NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
cards_df.set_index("card_id")
cards_df

KeyError: "None of ['card_id'] are in the columns"

In [ ]:
dust_df.head()

     card_id             action  cost
0  BRM_010t2    CRAFTING_NORMAL    40
1  BRM_010t2    CRAFTING_GOLDEN   400
2  BRM_010t2  DISENCHANT_NORMAL     5
3  BRM_010t2  DISENCHANT_GOLDEN    50
4     AT_132    CRAFTING_NORMAL  1600

Great.  Now, let's set the correct column, `card_id`, as the index column for each of these tables, and then display each to ensure that everything is as expected.  

For each of the DataFrames you created in the cell above, call the `.set_index()` method and pass in `card_id`.  Also set `inplace=True`.  Then, display the `.head()` of each respective DataFrame to ensure everything worked.  

**_NOTE:_** Since you are performing this operation in place, running any cell a second time will result in pandas throwing an error.  If you need to run something a second time, restart the kernel using the jupyter notebook menu at the top of the page.

In [ ]:
#example of setting index without inplace
# cards_df = cards_df.set_index("card_id")
# cards_df

In [ ]:
#exmaple with inplace
# cards_df.set_index("card_id", inplace=True)
# cards_df

In [ ]:
cards_df.head()

,player_class,type,name,set,text,cost,attack,health,rarity,collectible,flavor,race,how_to_earn,how_to_earn_golden,targeting_arrow_text,faction,durability
card_id,,,,,,,,,,,,,,,,,
KARA_00_07,MAGE,SPELL,Astral Portal,KARA,Summon a random <b>Legendary</b> minion.,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NEW1_008a,DRUID,SPELL,Ancient Teachings,EXPERT1,Draw a card.,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BRM_010t2,DRUID,MINION,Druid of the Flame,BRM,NaN,3.0,2.0,5.0,COMMON,NaN,NaN,BEAST,NaN,NaN,NaN,NaN,NaN
AT_132,NEUTRAL,MINION,Justicar Trueheart,TGT,<b>Battlecry:</b> Replace your starting Hero P...,6.0,6.0,3.0,LEGENDARY,1.0,It's like putting racing stripes and a giant s...,NaN,NaN,NaN,NaN,NaN,NaN
OG_141,NEUTRAL,MINION,Faceless Behemoth,OG,NaN,10.0,10.0,10.0,COMMON,1.0,"Rejected names: Forty-Foot Faceless, Big ol' N...",NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
dust_df.head()

                      action  cost
card_id
BRM_010t2    CRAFTING_NORMAL    40
BRM_010t2    CRAFTING_GOLDEN   400
BRM_010t2  DISENCHANT_NORMAL     5
BRM_010t2  DISENCHANT_GOLDEN    50
AT_132       CRAFTING_NORMAL  1600

In [ ]:
entourages_df.head()

           entourage_card_id
card_id
KAR_A10_22        KAR_A10_09
KAR_A10_22        KAR_A10_02
KAR_A10_22        KAR_A10_08
KAR_A10_22        KAR_A10_04
KAR_A10_22        KAR_A10_05

In [ ]:
mechanics_df.head()

                     mechanic
card_id
AT_132              BATTLECRY
GVG_011a  TAG_ONE_TURN_EFFECT
EX1_583             BATTLECRY
LOE_007t            EVIL_GLOW
LOE_007t   ImmuneToSpellpower

In [ ]:
play_requirements_df.head()

                     play_requirement  value
card_id
KARA_00_07       REQ_NUM_MINION_SLOTS      1
PRO_001a         REQ_NUM_MINION_SLOTS      1
NAX1_01          REQ_NUM_MINION_SLOTS      1
DS1h_292_H1           REQ_STEADY_SHOT      0
DS1h_292_H1  REQ_MINION_OR_ENEMY_HERO      0



Now that you have the tables loaded correctly, we're going to execute some joins. There are four different kinds of joins, which can best be visualized with Venn diagrams:

<img src='images/Image_198_joins.png'>

In these diagrams, each circle represents a DataFrame or SQL Table. The left table is the table you are working with, and the right table is the table you want to join to the table you are working with. You'll start by executing the most common type of join, an *Inner Join*.

In the cell below, join ⁠ cards_df ⁠ with ⁠ mechanics_df ⁠ using the built-in ⁠ .join() ⁠ method on the ⁠ cards_df ⁠ object. 

Pass in the following parameters:
•⁠  ⁠the table you want to join with, ⁠ mechanics_df ⁠
•⁠  ⁠The ⁠ how ⁠ parameter set to the type of join you want, ⁠ 'inner' ⁠

In [ ]:
cards_with_mechanics_df = cards_df.join(mechanics_df, how='inner')
cards_with_mechanics_df

,player_class,type,name,set,text,cost,attack,health,rarity,collectible,flavor,race,how_to_earn,how_to_earn_golden,targeting_arrow_text,faction,durability,mechanic
card_id,,,,,,,,,,,,,,,,,,
AT_132,NEUTRAL,MINION,Justicar Trueheart,TGT,<b>Battlecry:</b> Replace your starting Hero P...,6.0,6.0,3.0,LEGENDARY,1.0,It's like putting racing stripes and a giant s...,NaN,NaN,NaN,NaN,NaN,NaN,BATTLECRY
GVG_011a,NEUTRAL,ENCHANTMENT,Shrink Ray,GVG,-2 Attack this turn.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TAG_ONE_TURN_EFFECT
EX1_583,NEUTRAL,MINION,Priestess of Elune,EXPERT1,<b>Battlecry:</b> Restore 4 Health to your hero.,6.0,5.0,4.0,COMMON,1.0,"If she threatens to ""moon"" you, it's not what ...",NaN,NaN,NaN,NaN,NaN,NaN,BATTLECRY
LOE_007t,WARLOCK,SPELL,Cursed!,LOE,"While this is in your hand, take 2 damage at t...",2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EVIL_GLOW
LOE_007t,WARLOCK,SPELL,Cursed!,LOE,"While this is in your hand, take 2 damage at t...",2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ImmuneToSpellpower
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
EX1_009,NEUTRAL,MINION,Angry Chicken,EXPERT1,<b>Enrage:</b> +5 Attack.,1.0,1.0,1.0,RARE,1.0,There is no beast more frightening (or ridicul...,BEAST,NaN,NaN,NaN,NaN,NaN,ENRAGED
BRMA10_3,NEUTRAL,HERO_POWER,The Rookery,BRM,<b>Hero Power</b>\nGive all Corrupted Eggs +1 ...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AI_MUST_PLAY
NAX3_02H,NEUTRAL,HERO_POWER,Web Wrap,NAXX,<b>Hero Power</b>\nReturn 2 random enemy minio...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AI_MUST_PLAY
AT_083e,NEUTRAL,ENCHANTMENT,Dragonhawkery,TGT,<b>Windfury</b> this turn.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TAG_ONE_TURN_EFFECT
CS2_031,MAGE,SPELL,Ice Lance,EXPERT1,<b>Freeze</b> a character. If it was already <...,1.0,NaN,NaN,COMMON,1.0,The trick is not to break the lance. Otherwis...,NaN,NaN,NaN,NaN,NaN,NaN,FREEZE

Examine the output from the cell above and compare it to the original output of both the `cards_df` and `mechanics_df` DataFrame heads you displayed earlier.  Notice how this now combines the columns from both?

**_Question_**

If you inspect the original `cards_df` DataFrame, you'll notice that it contains  2,819 records.  The result of our inner join, `cards_with_mechanics_df`, contains only 1079 rows.  Why?

Write your answer below this line:
________________________________________________________________________________

<details>
    <summary style="cursor: pointer; display: inline">
        <b><u>Solution (click to reveal)</u></b>
    </summary>
    <p>First we performed an inner join, which only includes records that are present in both tables. Although there were 2819 records in the left table, there were only 1079 records that existed in both tables, which are what you see in the resulting dataframe. </p>
</details>

## Other Types of Joins

By default, the `.join()` method performs a left join if no parameter is passed in for `how=`.  In the cell below, perform a **_Left Join_** of `cards_with_mechanics_df` and `play_requirements_df`, with `cards_with_mechanics_df` as the left table.  

Then, display `left_join_df` to inspect our results.

In [ ]:
left_join_df = cards_with_mechanics_df.join(play_requirements_df, how = 'left')
left_join_df

,player_class,type,name,set,text,cost,attack,health,rarity,collectible,flavor,race,how_to_earn,how_to_earn_golden,targeting_arrow_text,faction,durability,mechanic,play_requirement,value
card_id,,,,,,,,,,,,,,,,,,,,
AT_132,NEUTRAL,MINION,Justicar Trueheart,TGT,<b>Battlecry:</b> Replace your starting Hero P...,6.0,6.0,3.0,LEGENDARY,1.0,It's like putting racing stripes and a giant s...,NaN,NaN,NaN,NaN,NaN,NaN,BATTLECRY,NaN,NaN
GVG_011a,NEUTRAL,ENCHANTMENT,Shrink Ray,GVG,-2 Attack this turn.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TAG_ONE_TURN_EFFECT,NaN,NaN
EX1_583,NEUTRAL,MINION,Priestess of Elune,EXPERT1,<b>Battlecry:</b> Restore 4 Health to your hero.,6.0,5.0,4.0,COMMON,1.0,"If she threatens to ""moon"" you, it's not what ...",NaN,NaN,NaN,NaN,NaN,NaN,BATTLECRY,NaN,NaN
LOE_007t,WARLOCK,SPELL,Cursed!,LOE,"While this is in your hand, take 2 damage at t...",2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EVIL_GLOW,NaN,NaN
LOE_007t,WARLOCK,SPELL,Cursed!,LOE,"While this is in your hand, take 2 damage at t...",2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ImmuneToSpellpower,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
EX1_009,NEUTRAL,MINION,Angry Chicken,EXPERT1,<b>Enrage:</b> +5 Attack.,1.0,1.0,1.0,RARE,1.0,There is no beast more frightening (or ridicul...,BEAST,NaN,NaN,NaN,NaN,NaN,ENRAGED,NaN,NaN
BRMA10_3,NEUTRAL,HERO_POWER,The Rookery,BRM,<b>Hero Power</b>\nGive all Corrupted Eggs +1 ...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AI_MUST_PLAY,NaN,NaN
NAX3_02H,NEUTRAL,HERO_POWER,Web Wrap,NAXX,<b>Hero Power</b>\nReturn 2 random enemy minio...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AI_MUST_PLAY,NaN,NaN
AT_083e,NEUTRAL,ENCHANTMENT,Dragonhawkery,TGT,<b>Windfury</b> this turn.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TAG_ONE_TURN_EFFECT,NaN,NaN
CS2_031,MAGE,SPELL,Ice Lance,EXPERT1,<b>Freeze</b> a character. If it was already <...,1.0,NaN,NaN,COMMON,1.0,The trick is not to break the lance. Otherwis...,NaN,NaN,NaN,NaN,NaN,NaN,FREEZE,REQ_TARGET_TO_PLAY,0.0

In [ ]:
left_join_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1226 entries, AT_132 to CS2_031
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   player_class          1226 non-null   object
 1   type                  1226 non-null   object
 2   name                  1226 non-null   object
 3   set                   1226 non-null   object
 4   text                  1189 non-null   object
 5   cost                  1157 non-null   float64
 6   attack                968 non-null    float64
 7   health                952 non-null    float64
 8   rarity                886 non-null    object
 9   collectible           825 non-null    float64
 10  flavor                825 non-null    object
 11  race                  215 non-null    object
 12  how_to_earn           143 non-null    object
 13  how_to_earn_golden    178 non-null    object
 14  targeting_arrow_text  123 non-null    object
 15  faction               68 non-null     object
 16  durability            21 non-null     float64
 17  mechanic              1226 non-null   object
 18  play_requirement      279 non-null    object
 19  value                 279 non-null    float64
dtypes: float64(6), object(14)
memory usage: 201.1+ KB

Note that the results of this sort of join are dependent upon the position of each table--if you were to make `cards_with_mechanics_df` the right table and `play_requirements_df` the left table and then perform a **_Right Join_**, our results would be the same. 

**_Question:_**

Describe what was included from each table in this join.

Write your answer below this line:
________________________________________________________________________________

<details>
    <summary style="cursor: pointer; display: inline">
        <b><u>Solution (click to reveal)</u></b>
    </summary>
    <p>Every record from cards_with_mechanics_df, as well as any records from play_requirements_df that have matching index values with a record from the left table. </p>
</details>

#### Outer Joins

In the cell below, perform an outer join between `cards_df` and `dust_df`. Since these tables contain columns with the same name, we'll need to specify a suffix for at least one of them, so that the column can be renamed to avoid a naming collision. 

During this join, set the `rsuffix` parameter to `_dust`

In [ ]:
outer_join_df = cards_df.join(dust_df, how='outer',rsuffix='_dust')
outer_join_df

,player_class,type,name,set,text,cost,attack,health,rarity,collectible,flavor,race,how_to_earn,how_to_earn_golden,targeting_arrow_text,faction,durability,action,cost_dust
card_id,,,,,,,,,,,,,,,,,,,
AT_001,MAGE,SPELL,Flame Lance,TGT,Deal $8 damage to a minion.,5.0,NaN,NaN,COMMON,1.0,"It's on the rack next to ice lance, acid lance...",NaN,NaN,NaN,NaN,NaN,NaN,CRAFTING_NORMAL,40.0
AT_001,MAGE,SPELL,Flame Lance,TGT,Deal $8 damage to a minion.,5.0,NaN,NaN,COMMON,1.0,"It's on the rack next to ice lance, acid lance...",NaN,NaN,NaN,NaN,NaN,NaN,CRAFTING_GOLDEN,400.0
AT_001,MAGE,SPELL,Flame Lance,TGT,Deal $8 damage to a minion.,5.0,NaN,NaN,COMMON,1.0,"It's on the rack next to ice lance, acid lance...",NaN,NaN,NaN,NaN,NaN,NaN,DISENCHANT_NORMAL,5.0
AT_001,MAGE,SPELL,Flame Lance,TGT,Deal $8 damage to a minion.,5.0,NaN,NaN,COMMON,1.0,"It's on the rack next to ice lance, acid lance...",NaN,NaN,NaN,NaN,NaN,NaN,DISENCHANT_GOLDEN,50.0
AT_002,MAGE,SPELL,Effigy,TGT,"<b>Secret:</b> When a friendly minion dies, su...",3.0,NaN,NaN,RARE,1.0,"Burning man, brah.",NaN,NaN,NaN,NaN,NaN,NaN,CRAFTING_NORMAL,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt_010,MAGE,SPELL,Spellbender,EXPERT1,<b>Secret:</b> When an enemy casts a spell on ...,3.0,NaN,NaN,EPIC,1.0,While it's fun to intercept enemy lightning bo...,NaN,NaN,NaN,NaN,NaN,NaN,DISENCHANT_GOLDEN,400.0
tt_010a,MAGE,MINION,Spellbender,EXPERT1,NaN,1.0,1.0,3.0,EPIC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CRAFTING_NORMAL,400.0
tt_010a,MAGE,MINION,Spellbender,EXPERT1,NaN,1.0,1.0,3.0,EPIC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CRAFTING_GOLDEN,1600.0
tt_010a,MAGE,MINION,Spellbender,EXPERT1,NaN,1.0,1.0,3.0,EPIC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DISENCHANT_NORMAL,100.0
tt_010a,MAGE,MINION,Spellbender,EXPERT1,NaN,1.0,1.0,3.0,EPIC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DISENCHANT_GOLDEN,400.0

Inspect the output above.  Note that the naming collision has been avoided by renaming the `cost` column from the right table to `cost_dust`.  

## Summary

In this lab, you learned how to:

* Concatenate multiple DataFrames together into a single DataFrame
* Understand and execute the various types of joins (inner, outer, left, and right joins)